@media (min-width: 375px) {
  .header {
    display: flex;
    justify-content: space-between;
    height: 91px;
    align-items: center;
  }

  .wrapper {
    position: relative;
    display: inline-block;
  }

  .desktopNav {
    display: none;
  }
}

@media (min-width: 768px) {}

@media (min-width: 1440px) {
  .desktopNav {
    display: flex;
  }

  .tabletNav {
    display: none;
  }
}