.header {
  display: flex;
  justify-content: space-between;
  height: 91px;
  align-items: center;
  margin-bottom: 78px;
}

.container {
  max-width: 1440px;
  padding-left: 100px;
  padding-right: 100px;
}

.wrapper {
  position: relative;
  display: inline-block;
}
