@media (min-width: 375px) {
  .header {
    display: flex;
    height: 91px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(250, 250, 250, 0.1);
  }

  .wrapper {
    position: relative;
    display: inline-block;
  }

  .desktopNav {
    display: none;
  }
}

@media (min-width: 1440px) {
  .desktopNav {
    display: flex;
  }

  .tabletNav {
    display: none;
  }
}