.card {
  background: #171719;
  border-radius: 30px;
  padding: 33px 23px;
  display: flex;
  align-items: center;
  gap: 22px;
  max-height: 121px;
  width: 100%;
}

.iconWrapperIncome,
.iconWrapperExpense {
  width: 43px;
  height: 43px;
  background: #0ef387;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  fill: #0c0d0d;
}

.label {
  font-weight: 400;
  font-size: 16px;
  color: rgba(250, 250, 250, 0.5);
  margin-bottom: 7px;
}

.amount {
  font-size: 24px;
  font-weight: 700;
  color: #fafafa;
}
