.chartContainer {
  background: #171719;
  border-radius: 30px;
  padding: 40px;
}

.title {
  font-weight: 400;
  font-size: 16px;
  color: rgba(250, 250, 250, 0.5);
  margin-bottom: 20px;
}

.content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.chartWrapper {
  position: relative;
  width: 285px;
  height: 200px;
}

.chartLabel {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: 700;
  color: #fafafa;
}

.legend {
  list-style: none;
  padding: 0;
  max-height: 120px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 22px;
}

.legend::-webkit-scrollbar {
  width: 6px;
}

.legend::-webkit-scrollbar-track {
  background: #0c0d0d;
  border-radius: 12px;
}

.legend::-webkit-scrollbar-thumb {
  background: #444446;
  border-radius: 12px;
}

.legend::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

.legendItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(250, 250, 250, 0.5);
}

.legendName {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.percentage {
  font-weight: 700;
  font-size: 16px;
  color: #fafafa;
}
