.antdPicker {
  width: 100%;
  height: 44px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  color: #fff;
}
.antdPicker:hover,
.antdPicker:global(.ant-picker-focused),
.antdPicker:focus-within,
.antdPicker:active {
  border-color: #0ef387;
}

.timePopup :global(.ant-picker-time-panel) :global(.ant-picker-content) {
  height: 90px;
}

.timePopup :global(.ant-picker-time-panel-column) {
  width: 56px;
  scrollbar-width: none;
  border-inline-start: 1px solid rgba(12, 13, 13, 0.1);
}

.timePopup :global(.ant-picker-time-panel-cell-inner) {
  padding-inline: 0;
  text-align: center;
}
.timePopup
  :global(.ant-picker-time-panel-column)
  > li:global(.ant-picker-time-panel-cell)
  :global(.ant-picker-time-panel-cell-inner) {
  color: #0c0d0d;
  border-radius: 40px;
}

.timePopup
  :global(.ant-picker-time-panel-column)
  > li:global(.ant-picker-time-panel-cell-selected)
  :global(.ant-picker-time-panel-cell-inner) {
  color: #ffffff;
}

.timePopup :global(.ant-picker-time-panel-column):not(:first-child) {
  border-inline-start: 1.5px solid rgba(12, 13, 13, 0.5);
}

.timePopup :global(.ant-picker-footer) {
  border-top: 1.5px solid rgba(12, 13, 13, 0.5);
}

.timePopup :global(.ant-picker-ok) button {
  color: #ffffff;
  border-radius: 40px;
  padding: 0, 0, 0, 14px;
}

.timePopup :global(.ant-picker-ok) button {
  background-color: #0c0d0d;
  color: #ffffff;
  width: 48px;
  height: 28px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 250ms linear;

  padding: 0 0 0 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timePopup :global(.ant-picker-ok) button:hover {
  background-color: rgba(12, 13, 13, 0.8);
}
.timePopup :global(.ant-picker-ok) button:disabled {
  background-color: #29292b;
  color: rgba(255, 255, 255, 0.3);
  cursor: not-allowed;
  border: none;
}
.timePopup :global(.ant-picker-ok) button:disabled:hover {
  background-color: #29292b;
}

.timePopup :global(.ant-picker-ranges) {
  padding-right: 4px;
  padding-bottom: 4px;
}
