.antdPicker {
  width: 100%;
  height: 44px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  color: #fff;
}
.antdPicker:hover {
  border-color: #0ef387;
}
.antdPicker:global(.ant-picker-focused),
.antdPicker:focus-within {
  border-color: #0ef387;
}

.calendarPopup :global(.ant-picker-header) {
  position: relative;
  font-size: 16px;
}

.calendarPopup :global(.ant-picker-header)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 190px;
  height: 1px;
  background-color: rgba(12, 13, 13, 0.5);
}

.calendarPopup :global(.ant-picker-content th) {
  font-weight: 400;
  font-size: 14px;
  color: rgba(12, 13, 13, 0.5);
}

.calendarPopup :global(.ant-picker-cell-inner) {
  color: rgba(12, 13, 13, 0.2);
  min-width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
  display: block;
}
.calendarPopup :global(.ant-picker-cell-in-view .ant-picker-cell-inner) {
  color: #0c0d0d;
  border-radius: 50%;
}
.calendarPopup :global(.ant-picker-cell:hover .ant-picker-cell-inner) {
  border-radius: 50%;
}
.calendarPopup
  :global(
    .ant-picker-cell-in-view.ant-picker-cell-today
      .ant-picker-cell-inner::before
  ) {
  border-radius: 50%;
}

.calendarPopup :global(.ant-picker-header button) :global(span::before) {
  border-color: rgba(12, 13, 13, 0.4);
  border-width: 2.5px 0 0 2.5px;

  width: 8px;
  height: 8px;

  transition: border-color 250ms linear;
}

.calendarPopup :global(.ant-picker-header button:hover) :global(span::before) {
  border-color: #0c0d0d;
}

.calendarPopup :global(.ant-picker-date-panel),
.calendarPopup :global(.ant-picker-time-panel),
.calendarPopup :global(.ant-picker-month-panel) {
  width: 222px;
}

.calendarPopup :global(.ant-picker-content) {
  width: 100%;
}

.calendarPopup :global(.ant-picker-cell) {
  padding: 5.5px 0;
}

.autoHeightWrapper :global(.ant-picker-content tbody tr:last-child) {
  display: table-row;
}

.autoHeightWrapper
  :global(
    .ant-picker-content tbody tr:last-child:not(:has(.ant-picker-cell-in-view))
  ) {
  display: none;
}
