:root {
  --font-family: "Inter", sans-serif;
}

body {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

a {
  color: white;
  text-decoration: none;
  margin: 0 auto;
}

button {
  cursor: pointer;
  border: none;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 375px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
