:root {
  --font-family: "Inter", sans-serif;
}

body {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

ul,
li {
  list-style: none;
}
