.panel {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;

  width: 220px;
  padding: 16px 18px;
  border-radius: 15px;

  background-color: #0c0d0d;
  border: 1px solid rgba(250, 250, 250, 0.1);

  display: flex;
  flex-direction: column;
  gap: 12px;

  opacity: 0;
  transform: translateY(-6px) scale(0.98);
  pointer-events: none;

  transition:
    opacity 250ms linear,
    transform 250ms linear;
}

.open {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: rgba(250, 250, 250, 0.5);
  text-align: left;
  border-radius: 14px;
  cursor: pointer;
  transition: color 250ms linear;
}

.button:hover {
  color: #fafafa;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  stroke: rgba(250, 250, 250, 0.5);
  transition: stroke 250ms linear;
}

.icon path,
.icon use {
  stroke: rgba(250, 250, 250, 0.5);
  transition: stroke 250ms linear;
}

.button:hover .icon path,
.button:hover .icon use {
  stroke: #0ef387;
}

/* ConfirmForm */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 30px;
  width: 500px;
  height: 266px;
  background: #1e1f23;
  padding: 80px;
  text-align: center;
}

.modal p {
  font-family: var(--font-family);
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa;
  margin-bottom: 40px;
  font-size: 16px;
}

.confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 14px 44px;
  min-width: 144px;
  height: 47px;
  background: #0ef387;
  letter-spacing: -0.02em;

  margin-bottom: 12px;
  border: none;

  color: #0c0d0d;
  cursor: pointer;
}

.cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 14px 44px;
  width: 139px;
  height: 47px;
  border: none;
  background: #29292b;
  color: #fafafa;
  cursor: pointer;
  letter-spacing: -0.02em;
}

.confirm:hover {
  opacity: 0.9;
}

.cancel:hover {
  opacity: 0.85;
}

.btnDiv {
  display: flex;
  justify-content: center;
  gap: 8px;
}