.panel {
  position: absolute;
  /* відступ ще треба підкорегувати */
  top: calc(100% + 10px);
  left: 0;

  width: 220px;
  padding: 16px 18px;
  border-radius: 15px;

  background-color: #0c0d0d;
  border: 1px solid rgba(250, 250, 250, 0.1);

  display: flex;
  flex-direction: column;
  gap: 12px;

  opacity: 0;
  transform: translateY(-6px) scale(0.98);
  pointer-events: none;

  transition:
    opacity 250ms ease,
    transform 250ms ease;
}

.open {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
}

.button {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: rgba(250, 250, 250, 0.5);
  text-align: left;
  border-radius: 14px;
  cursor: pointer;
  transition: color 250ms ease;
}

.button:hover {
  color: #fafafa;
}

.icon {
  width: 16px;
  height: 16px;
  stroke: rgba(250, 250, 250, 0.5);
}

.icon:hover {
  stroke: #0ef387;
}