.UserBarBtn {
    min-width: 220px;
    height: 56px;
    background-color: transparent;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
}