.title {
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.description {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);

  width: 335px;
  height: 474px;
}
.button {
  border-radius: 40px;
  padding: 14px 44px;
  width: 146px;
  height: 47px;
  background: #0ef387;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0d0d;
  margin-top: 20px;
}
.field {
  margin-bottom: 24px;
  position: relative;
}
.firstblock {
  width: 335px;
  height: 126px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 50px;
}
.form {
  gap: 24px;
}
.thirdblock {
  margin-top: 60px;
  margin-bottom: 20px;
}

.linkText {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgba(250, 250, 250, 0.6);
  margin-bottom: 169px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container {
  margin: auto;
  /* padding-left: 200px; */
}

.inputs {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 12px;
  padding-left: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(250, 250, 250, 0.4);
  background-color: #0c0d0d;
  outline: none;
  padding-right: 48px;
  width: 338px;
  height: 48px;
  padding-right: 48px;
  box-sizing: border-box;
}
.inputs:hover {
  border: 1px solid #0ef387;
  border-radius: 12px;
}
.inputWrapper {
  position: relative;
  display: inline-block;
}

.eyeIcon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  stroke: #fafafa;
  fill: none;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: #fafafa;
  fill: none;
}
.eyeIcon use {
  pointer-events: none;
}
.eyeIcon use {
  pointer-events: none;
}
.error {
  margin-top: 4px;
  display: flex;
  font-weight: 400;
  font-size: 10px;
  color: #e74a3b;
}
@media (min-width: 768px) {
  .title {
    font-weight: 400;
    font-size: 56px;
    letter-spacing: -0.02em;
    color: #fafafa;
  }
  .description {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
    width: 399px;
    height: 38px;
  }
  .button {
    border-radius: 40px;
    padding: 14px 44px;
    width: 146px;
    height: 47px;
    background: #0ef387;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #0c0d0d;
    margin-top: 0;
  }
  .field {
    margin-bottom: 24px;
  }
  .inputs {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 12px;
    padding-left: 12px;
    width: 399px;
    height: 48px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(250, 250, 250, 0.4);
    background-color: #0c0d0d;
  }
  .firstblock {
    width: 533px;
    height: 126px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 60px;
  }
  .form {
    gap: 24px;
  }
  .thirdblock {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .linkText {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: rgba(250, 250, 250, 0.6);
    margin-bottom: 0px;
  }

  .page {
    display: flex;
    justify-content: center;
    padding-left: 184px;
    padding-bottom: 262px;
  }

  .container {
    margin: 0 auto;
    padding-left: 0px;
  }
}

@media (min-width: 1440px) {
  .title {
    font-weight: 400;
    font-size: 56px;
    letter-spacing: -0.02em;
    color: #fafafa;
  }
  .description {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);

    width: 533px;
  }
  .button {
    border-radius: 40px;
    padding: 14px 44px;
    width: 146px;
    height: 47px;
    background: #0ef387;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #0c0d0d;
  }
  .field {
    margin-bottom: 24px;
  }
  .inputs {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 12px;
    padding-left: 12px;
    width: 399px;
    height: 48px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(250, 250, 250, 0.4);
    background-color: #0c0d0d;
  }
  .firstblock {
    width: 533px;
    height: 126px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 60px;
  }
  .form {
    gap: 24px;
  }
  .thirdblock {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .linkText {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: rgba(250, 250, 250, 0.6);
    margin-bottom: 0px;
  }

  .page {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    padding-left: 0;
  }

  .container {
    margin: auto;
    padding-left: 0px;
  }
}
