.incomeForm {
  background: #0c0d0d;
}
.textTitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 38px;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.textPage {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}
