.incomePage {
  max-width: 1440px;
  max-height: 800px;
  background: #0c0d0d;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.title {
  margin-right: 94px;
  align-items: center;
}
.titleText {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 38px;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 13px;
}
.titleParagraf {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  min-width: 516px;
}
.total {
  min-width: 630px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

/* .totalIncome {
} */

.totalExpenseItemText {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(250, 250, 250, 0.5);
  margin-bottom: 7px;
}
.totalExpenseItemUnit {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fafafa;
}
/* .totalExpense {
} */

.incomeForm {
  border-radius: 30px;
  min-width: 1240px;
}
.incomeFormInputSearch {
  border-radius: 30px;
  padding: 15px 30px;
  margin-right: 13px;
}
.incomeFormInputData {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 30px;
  padding: 15px 30px;
}
.incomeFormList {
  display: flex;
  flex-direction: row;
}
.incomeFormListItemCategory {
  padding-right: 86px;
}
.incomeFormListItemComment {
  padding-right: 120px;
}
.incomeFormListItemDate {
  padding-right: 162px;
}
.incomeFormListItemTime {
  padding-right: 98px;
}
.incomeFormListItemSum {
  padding-right: 154px;
}
.incomeFormListItemText {
  padding-top: 52px;
}
.incomeFormBtn {
  display: flex;
  gap: 8px;
  padding-top: 52px;
}
.incomeFormBtnEdit {
  border-radius: 40px;
  padding: 14px 32px;
  background: #0ef387;
}
.incomeFormBtnDelete {
  border-radius: 40px;
  padding: 14px 30px;
}
