.link {
  display: block;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fafafa;
  margin: 0;
}

.logoSvg {
  width: 27px;
  height: 16px;
  margin-right: 8px;
}

@media only screen and (min-width: 768px) {

  /* =============== LINÐš IN AVTORIZATION - TABLET =================*/
  .link {
    margin: auto;
  }
}