.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 13, 13, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #171719;
  padding: 40px;
  border-radius: 30px;
  max-width: 500px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.1);
}

.closeBtnCategoriesModal {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
}

.closeBtnCategoriesModal:hover {
  opacity: 0.7;
}

.closeBtnCategoriesModal svg {
  stroke: #fafafa;
}

.titleCategoriesModal {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 18px;
}

.allCategoryTxt {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 21px;
}

.listCategoriesModal {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 170px;
  overflow-y: auto;
  /* margin-bottom: 34px; */
}

.listCategoriesModal::-webkit-scrollbar {
  width: 8px;
}
.listCategoriesModal::-webkit-scrollbar-thumb {
  background: #444446;
  border-radius: 12px;
}

.itemCategory {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* align-items: center; */
  padding: 12px 0;
}

.chosenCategoryBg {
  background: rgba(0, 0, 0, 0.2);
}

.actionBtns {
  display: flex;
  gap: 14px;
}

.actionBtns button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.footerModal {
  margin-top: auto;
}

.newCategoryTxt {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0ef387;
  margin-bottom: 8px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 12px;
  overflow: hidden;
  background: transparent;
  height: 48px;
  width: 100%;
}

.inputCategoriesModal {
  flex: 1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: none;
  padding: 12px 18px;
  background: transparent;
  outline: none;
  height: 100%;
  min-width: 0;
}

.btnCategoriesModal {
  flex-shrink: 0;
  border-radius: 12px;
  width: 119px;
  height: 100%;
  background: #0ef387;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0d0d;
  cursor: pointer;
  border: none;
}

.btnCategoriesModal:hover {
  background: #0ebb69;
}

.inputWrapper:focus-within,
.inputWrapper:hover {
  border-color: #0ef387;
}
