.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 13, 13, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #171719;
  padding: 24px;
  border-radius: 30px;
  max-width: 500px;
  width: 100%;
  position: relative;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); */
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.1);
}

.closeBtnCategoriesModal {
  stroke-width: 2px;
  stroke: #fafafa;
  fill: #fafafa;
}

.titleCategoriesModal {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.allCategoryTxt {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: rgba(250, 250, 250, 0.4);
}

.itemCategory {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fafafa;
}

.chosenCategoryBg {
  background: rgba(0, 0, 0, 0.2);
}

.newCategoryTxt {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0ef387;
}

.inputCategoriesModal {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0d0d;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 12px;
  padding: 12px 303px 12px 18px;
  width: 424px;
  height: 48px;
}

.btnCategoriesModal {
  border-radius: 12px;
  padding: 14px 44px;
  width: 119px;
  height: 47px;
  background: #0ef387;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0d0d;
}
