.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.4);
  border-radius: 30px;
  padding: 12px 21px;
  width: 130px;
  height: 43px;
  font-family: var(--font-family);
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  background: #171719;
  text-decoration: none;
}

.header {
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.burger {
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.active {
  background: #0ef387;
  color: #0c0d0d;
}