.list {
  display: flex;
  gap: 20px;
}

.link {
  border: 1px solid rgba(250, 250, 250, 0.4);
  border-radius: 30px;
  padding: 12px 21px;
  width: 127px;
  height: 43px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.active {
  background: #0ef387;
  color: #0c0d0d;
}
