.container {
  padding: 66px 20px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainLayout {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.statsSection {
  display: contents;
}

.info {
  order: 1;
}

.title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 20px;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.summaryCards {
  order: 2;
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.formSection {
  max-height: 600px;
  order: 3;
  background: #171719;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.statsSection > :last-child {
  order: 4;
}

@media (min-width: 768px) {
  .container {
    padding: 60px 32px;
  }

  .title {
    font-size: 38px;
    margin-bottom: 13px;
  }

  .subtitle {
    font-size: 16px;
  }

  .summaryCards {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 30px 0 0;
  }

  .mainLayout {
    display: grid;
    grid-template-columns: 1.11fr 1fr;
    gap: 44px;
  }

  .statsSection {
    display: flex;
    flex-direction: column;
    gap: 40px;
    order: unset;
  }

  .info,
  .summaryCards,
  .formSection,
  .statsSection > :last-child {
    order: unset;
  }
}
