.input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  width: 100%;
  padding: 12px 14px;
  font-size: 14px;
  line-height: 1.3;
  min-height: 42px;
  margin-bottom: 20px;

  transition: border-color 250ms linear;
}
.input:hover,
.input:focus,
.input:focus-within {
  border-color: #0ef387;
}

.field {
  color: #fafafa;
}

@media only screen and (max-width: 320px) {
  .icon {
    display: none;
  }
}
.icon {
  width: 16px;
  height: 16px;
  stroke: #fafafa;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0ef387;
  border: none;
  border-radius: 8px;
  padding: 14px 14px 13px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.dropdown .control {
  color: #0c0d0d;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;

  transition: background-color 250ms linear;
}

.dropdown .control:hover {
  background-color: rgba(12, 13, 13, 0.1);
}

.dropdown .control[data-active] {
  background-color: #0c0d0d;
  color: #fafafa;
  border-radius: 50%;

  transition:
    background-color 250ms linear,
    color 250ms linear;
}

@media only screen and (min-width: 768px) {
  .input {
    padding: 12px 18px;
    font-size: 16px;
    line-height: 1.5;
    min-height: 48px;
  }
  .section {
    margin-right: 18px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
}
