.formContainer {
  width: 100%;
  padding: 28px 20px 27px;
  background-color: #171719;
  border-radius: 30px;
}

.radioGroup {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  cursor: pointer;
}

.radioInput {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #555;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.radioInput:checked {
  border-color: #00ff85;
}

.radioInput::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: #00ff85;
}

.radioInput:checked::before {
  transform: scale(1);
}

.row {
  display: flex;
  gap: 20px;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.label {
  font-size: 14px;
  color: #fafafa;
}

.input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #444;
  border-radius: 12px;
  padding: 12px 14px;
  color: #fafafa;
  font-family: inherit;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;

  transition: border-color 250ms linear;
}

.input:hover,
.input:focus,
.input:focus-within {
  border-color: #00ff85;
}

.textarea {
  padding: 12px 14px;
  min-height: 91px;
  resize: none;
}
.sumWrapper {
  position: relative;
}

.currency {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  pointer-events: none;
}

.submitBtn {
  background-color: #0ef387;
  color: #0c0d0d;
  padding: 14px 44px;
  border-radius: 40px;
  font-size: 14px;

  transition: background-color 250ms linear;
}
.submitBtn:hover {
  background-color: #0ebb69;
}
.error {
  color: #e74a3b;
  font-size: 12px;
  position: absolute;
  bottom: -25%;
}

.inputError {
  border-color: #e74a3b;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media only screen and (min-width: 768px) {
  .formContainer {
    padding: 40px 105px;
  }

  .radioLabel {
    font-size: 16px;
  }

  .label {
    font-size: 16px;
  }

  .input {
    padding: 12px 18px;
    font-size: 16px;
  }

  .textarea {
    padding: 12px 18px;
    min-height: 97px;
  }

  .currency {
    right: 20px;
    font-size: 16px;
  }

  .submitBtn {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .formContainer {
    padding: 40px;
  }
}
